# This GitHub repo only tracks HarmonyOS sources.
# Original React Native / Android / iOS files stay local.
/android/
/ios/
/src/
/generator/
/release/
/.imgs/
/.github/
/.husky/
/.bundle/
/.commitlintrc.json
/.eslintignore
/.eslintrc.js
/.prettierrc.js
/.watchmanconfig
/Gemfile
/app.json
/babel.config.js
/changelog.md
/index.js
/jest.config.js
/metro.config.js
/package-lock.json
/package.json
/readme-en.md
/tsconfig.json
/yarn.lock

.DS_Store
.idea
.vscode/
*.log
tmp/
node_modules/
oh_modules/
local.properties
**/build
.hvigor
.cxx
.clangd
.clang-format
.clang-tidy
**/.test
oh-package-lock.json5
**/.preview
**/BuildProfile.ets
/entry/src/main/resources/rawfile/plugins
